<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar">
        <h1> <%= title %> </h1>
        <p>Talk about your worries in annonymity.</p>
    </nav>
    
    <a href="/new"><button class="button">Create post</button></a>

    <% for (let x = 0; x < messages.length; x++) { %>
        <h2> <%= messages[x].user %></h2>
        <p> <%= messages[x].text %></p>
        <p> <%= messages[x].added %></p>

    <% } %>
    
</body>
</html>