h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#32addd;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
}

.navbar {
  border-bottom: 2px solid #fff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
}
